@font-face {
	font-family: 'Futura PT';
	src: url('../fonts/FuturaPTBook.woff2') format('woff2'),
		url('../fonts/FuturaPTBook.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Futura PT';
	src: url('../fonts/FuturaPTMedium.woff2') format('woff2'),
		url('../fonts/FuturaPTMedium.woff') format('woff');
	font-display: swap;
	font-weight: 450;
	font-style: normal;
}

@font-face {
	font-family: "Futura PT";
	src: url('../fonts/FuturaPTLight.woff2') format('woff2'),
		url('../fonts/FuturaPTLight.woff') format(woff);
	font-display: swap;
	font-weight: 300;
	font-style: normal;
}

* {
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

.list-reset {
	padding: 0;
	list-style-type: none;
	/*выключаем маркер*/
}

.btn-reset {
	border: none;
	background-color: transparent;
	padding: 0;
	cursor: pointer;
}

:root {
	--accent-color: #5d71dd;
	--dark-color: #2f2222;
	--grid-gap: 40px;
	/*отступ*/
}

/*переменные*/

body {
	margin: 0;
	overflow-anchor: none;
	font-family: "Futura PT", sans-serif;
	font-weight: 400;
	background-color: #f9f9f9;
}

.container {
	max-width: 1430px;
	padding: 0 15px;
	margin: 0 auto;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	/*IE6, IE7*/
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

/* header */
.header {
	background-color: #fff;
	padding-top: 6px;
}

.header__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__logo {
	transform: translateY(5px);
}

.header__right {
	display: flex;
	align-items: center;
}

.header__nav {
	margin-right: 40px;
}

.nav__list {
	display: flex;
	align-items: center;
}

.nav__item:not(:last-child) {
	margin-right: 41px;
}

.nav__link {
	font-size: 18px;
	color: var(--dark-color);
}

.nav__link--current {
	color: var(--accent-color);
	position: relative;
}

.nav__link--current::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background-color: currentColor;
	/*текущий цвет*/
}

.phone {
	font-size: 18px;
	font-weight: 450;
	color: var(--accent-color);
	background-image: url('../images/phone.svg');
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 27px;
}

.banner {
	height: 300px;
	background-image: url('../images/banner.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

/*content*/

.content {
	padding-top: var(--grid-gap);
}

.content__container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	/* определяем количество - 4, размер столбцов -1fr */
	gap: var(--grid-gap);
	/*отступ*/
}

.articles {
	grid-column: 3 span;
	/*занимает 3 колонки, span - растягивается на 3*/
}

.article__grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	/* вся ширина = 3 колонки */
	gap: var(--grid-gap);
	/*отступ*/
	grid-template-rows: repeat(8, 180px);
	/* вся высота = 8 строк по 180px*/
}

.article__grid-item:nth-child(5n+1) {
	grid-column: 2 span;
	/* 2 колонки по ширине*/
	grid-row: 2 span;
	/* 2 колонки по высоте*/
}

/*5n+1 - через пять элементов снова будет первый*/

.article__grid-item:nth-child(5n+2) {
	grid-row: 2 span;
	/* 2 колонки по высоте*/
}

.article__grid-item:nth-child(5n+3) {
	grid-row: 2 span;
	/* 2 колонки по высоте*/
}

.article__grid-item:nth-child(5n+4) {
	grid-column: 2 span;
	/* 2 колонки по ширине*/
}

.article__grid-item:nth-child(5n+5) {
	grid-column: 2 span;
	/* 2 колонки по ширине*/
}

.blog__article {
	padding-top: 44px;
	padding-left: 38px;
	width: 100%;
	height: 100%;
	background-color: #fff;
	border-radius: 20px;
	position: relative;
}

.blog__article-category {
	position: relative;
	z-index: 5;
	margin-bottom: 30px;
	display: inline-block;
	/*для работы padding*/
	border-radius: 8px;
	padding: 8px 17px;
	font-size: 16px;
	line-height: 21px;
	color: var(--accent-color);
	background-color: #f7f8fD;
}

.blog__article-title {
	margin: 0;
	font-weight: 500;
	font-size: 24px;
	line-height: 31px;
	letter-spacing: 0.11px;
	color: var(--dark-color);
}

.blog__article-link::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.blog__article--main {
	height: 280px;
	margin-bottom: var(--grid-gap);
}